<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484942532845-pq85eud21gab5tsgoukgj24ggo3fisqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484942532845-pq85eud21gab5tsgoukgj24ggo3fisqd</string>
	<key>API_KEY</key>
	<string>AIzaSyC9_HAFJvLq8qfN1fUSD_x9ExEiJagOICI</string>
	<key>GCM_SENDER_ID</key>
	<string>484942532845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zephyrrr.cloudjams</string>
	<key>PROJECT_ID</key>
	<string>cs4750-23f0e</string>
	<key>STORAGE_BUCKET</key>
	<string>cs4750-23f0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484942532845:ios:eb15e00b2439e0d4f0fce4</string>
</dict>
</plist>